p {
    font-family: Tahoma;
    color: black;
	margin: 0px auto 0px auto;
	padding: 10px;
	text-indent: 30px
}

h1 {
	font-family: Tahoma;
	color: white;
	margin: 10px auto 10px auto;
	text-align: center;
	border: 10px solid #6E0D25;
	border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
	background-color: #6E0D25;
	width: 400px;
	padding: 10px;
}

li {
	color: black;
	font-family: Tahoma;
	display: inline;
	margin-right: 20px;
}

a:link {
	color: #4B74C4;
	text-decoration: none;
}

a:visited {
	color: #4B74C4;
}

a:hover {
	color: #4141AC;
}

a:active {
	color: blue;
}
